Checks: >
  -*,
  cppcoreguidelines-*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters,
  -readability-magic-numbers, # cppcoreguidelines-avoid-magic-numbers is still enabled, don't need two rules,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-macro-usage,
  -performance-no-int-to-ptr,
  -readability-identifier-length, # don't care about short names,
  -readability-container-contains, # doesn't work for files compiled for both C++17 and C++20,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-function-cognitive-complexity
  -misc-include-cleaner
WarningsAsErrors: "*"
